<div class="time mt-4">
  <div class="row mt-3">
    <h5>Horários da Manhã:</h5>

    <div class="col time time-selected">8:00</div>
    <div class="col time time-available">8:30</div>
    <div class="col time time-available">9:00</div>
    <div class="col time time-available">9:30</div>
    <div class="col time time-off">10:00</div>
    <div class="col time time-off">10:30</div>
    <div class="col time time-available">11:00</div>
    <div class="col time time-available">11:30</div>
  </div>

  <div class="row mt-3">
    <h5>Horários da Tarde:</h5>

    <div class="col time time-off">14:00</div>
    <div class="col time time-available">14:30</div>
    <div class="col time time-available">15:00</div>
    <div class="col time time-off">15:30</div>
    <div class="col time time-available">16:00</div>
    <div class="col time time-off">16:30</div>
    <div class="col time time-available">17:00</div>
    <div class="col time time-off">17:30</div>
  </div>
</div>